<?php

/**
 * @var \Bss\Task100\Block\Display $block
 */
$interns = $block->getAllInternships();

?>

<?php if (count($interns) > 0): ?>
    <table border="1" style="width:100%">
        <tr>
            <th><?= __("ID") ?></th>
            <th><?= __("Name") ?></th>
            <th><?= __("Avatar") ?></th>
            <th><?= __("Description") ?></th>
            <th><?= __("Dob") ?></th>
            <th><?= __("Action") ?></th>
        </tr>
        <?php foreach ($interns as $intern): ?>
            <tr>
                <td><?= $intern->getId() ?></td>
                <td><?= $intern->getName() ?></td>
                <td><?= $intern->getAvatar() ?></td>
                <td><?= $intern->getDescription() ?></td>
                <td><?= $intern->getDob() ?></td>
                <td><a href="/task100/index/show/id/<?= $intern->getId()?> "><?= __("View Detail") ?></a></td>

            </tr>
        <?php endforeach; ?>

    </table>

<?php else: ?>
    <h1><?= __("Cannot get Data of Internships.") ?></h1>
<?php endif; ?>

<br/>
<form method="post" action="<?= $block->getPostUrl() ?>">
    <fieldset>
        <div>
            <label for="name"><?= __("Name") ?></label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label for="avatar"><?= __("Avatar") ?></label>
            <input type="text" name="avatar"/>
        </div>
        <div>
            <label for="description"><?= __("Description") ?></label>
            <input type="text" name="description"/>
        </div>
        <br/>
        <input type="submit" value="<?= __("Add") ?>" />
    </fieldset>
</form>






