<?php

/**
 * @var \Bss\Task100\Block\Show $block
 */
$intern  = $block->getItemById();
?>
<table border="1" style="width:100%">
    <tr>
        <th><?= __("ID") ?></th>
        <th><?= __("Name") ?></th>
        <th><?= __("Avatar") ?></th>
        <th><?= __("Description") ?></th>
        <th><?= __("Dob") ?></th>
    </tr>
    <?php if(count($intern) > 0): ?>
    <tr>
        <td><?= $intern["id"] ?></td>
        <td><?= $intern["name"] ?></td>
        <td><?= $intern["avatar"] ?></td>
        <td><?= $intern["description"] ?></td>
        <td><?= $intern["dob"] ?></td>
    </tr>
    <?php endif; ?>

</table>






